
body, html {
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    font-size: 10vw; 
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 80px 20px;
    background-color: #ffffff;
}

.menu-item {
    text-decoration: none;
    color: #333;
    text-align: center;
    width: 40%;
    max-width: 500px;

}

.menu-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-item h3 {
    margin-top: 20px;
    font-size: 24px;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
    .menu-item {
        width: 100%;
    }
}