body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}