html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.cell-1 {
    background-color: #B5D275;
    width: 50%;
}

.cell-2 {
    background-color: #FBC2AB;
    width: 50%;
}